{% extends 'layout.html.twig' %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Content
    </div>
    <div class="panel-body">
        Content goes here!
    </div>
    <!-- /.panel-body -->
</div>
{% endblock %}
